:root {
    --green-primary: #22c55e;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    background: url(./assets/blurry-gradient-haikei.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}


#main {
    position: relative;
    min-height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 2rem 0.5rem;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 30rem;
    min-width: min-content;
    min-height: 14rem;
    padding: 1rem;
    border-radius: 3.5px;
    background-color: hsl(0 0% 100% / 0.5);
}